button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}