.command {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color);
}

.command-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.command-people {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.command-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.command-list {
    display: flex;
    gap: 30px;
}

.command-item {
    background-color: #ffffff;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.command-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.command-icons-item {
    width: 44px;
    height: 44px;
}

.command-icons-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-icons-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-icons-icon:hover {
    fill: #ffffff;
}

.command-icons-link:hover {
    background-color: var(--accent-color);
}

.command-icons-link:hover .command-icons-icon {
    fill: #ffffff;
}